# module
node_modules

# environment
.env
.env.*
!.env.example

# tan-stack generated
.tanstack

# output generated
build
dist
out

# log generated
logs
*.log
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# test coverage generated
coverage

# prisma generated
.prisma/.generated

# other
.DS_Store
Thumbs.db